<!--#include virtual="includes/_header.htm" -->
<body class="page-committers ">
<!--#include virtual="includes/_top.htm" -->
<div class="content">
	<!--#include virtual="includes/_nav.htm" -->
	<div class="right">
		<h1 class="content-title">The committers</h1>
    <table style="margin-top: 4rem;">
      <tr>
        <td>
          <img src="images/jun.jpg" width="150">
        </td>
        <td>
    	  Jun Rao<br>
          <div class="github_login" hidden>junrao<br></div>
    	  Committer, PMC member<br>
    	  <a href="http://www.linkedin.com/in/junrao">/in/junrao</a><br>
    	  <a href="http://twitter.com/junrao">@junrao</a>
    	</td>
        <td>
          <img src="images/neha.jpg" width="150">
        </td>
        <td>
    	  Neha Narkhede<br>
          <div class="github_login" hidden>nehanarkhede<br></div>
    	  Committer, and PMC member<br>
    	  <a href="http://www.linkedin.com/in/nehanarkhede">/in/nehanarkhede</a><br>
    	  <a href="http://twitter.com/nehanarkhede">@nehanarkhede</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/joe.jpg" width="150">
        </td>
        <td>
    	  Joe Stein<br>
          <div class="github_login" hidden>joestein<br></div>
    	  Committer, and PMC member<br>
    	  <a href="http://www.linkedin.com/in/charmalloc">/in/charmalloc</a><br>
    	  <a href="https://twitter.com/allthingshadoop">@allthingshadoop</a>
        </td>
        <td>
          <img src="images/jay.jpg" width="150">
        </td>
        <td>
    	  Jay Kreps<br>
          <div class="github_login" hidden>jkreps<br></div>
    	  Committer, and PMC member<br>
    	  <a href="http://www.linkedin.com/in/jaykreps">/in/jaykreps</a><br>
    	  <a href="http://twitter.com/jaykreps">@jaykreps</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/joel.jpg" width="150">
        </td>
        <td>
    	  Joel Koshy<br>
          <div class="github_login" hidden>jjkoshy<br></div>
    	  Committer, and PMC member<br>
    	  <a href="http://www.linkedin.com/in/jjkoshy">/in/jjkoshy</a>
        </td>
        <td>
          <img src="images/prashanth.jpg" width="150">
        </td>
        <td>
    	  Prashanth Menon<br>
          <div class="github_login" hidden>pmenon<br></div>
    	  Committer, and PMC member<br>
    	  <a href="http://ca.linkedin.com/in/prasmenon">/in/prasmenon</a><br>
    	  <a href="https://twitter.com/prashanth_menon">twitter</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/jakob.jpg" width="150">
        </td>
        <td>
    	  Jakob Homan<br>
          <div class="github_login" hidden>jghoman<br></div>
    	  Apache Member, Committer, and PMC member<br>
    	  <a href="http://www.linkedin.com/in/jghoman">/in/jghoman</a><br>
    	  <a href="http://twitter.com/BlueBoxTraveler">@blueboxtraveler</a>
        </td>
        <td>
          <img src="images/david.jpg" width="150">
        </td>
        <td>
    	  David Arthur<br>
          <div class="github_login" hidden>mumrah<br></div>
    	  Committer, and PMC member<br>
    	  <a href="https://www.linkedin.com/in/davidrarthur">/in/davidarthur</a><br>
    	  <a href="https://github.com/mumrah">github.com/mumrah</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/sriram.jpg" width="150">
        </td>
        <td>
    	  Sriram Subramanian<br>
          <div class="github_login" hidden>sriramsub<br></div>
    	  Committer<br>
    	  <a href="http://www.linkedin.com/pub/sriram-subramanian/3/52a/162">/in/sriram</a><br>
    	  <a href="http://twitter.com/sriramsub1">@sriramsub1</a>
        </td>
        <td>
          <img src="images/guozhang.jpg" width="150">
        </td>
        <td>
          Guozhang Wang<br>
          <div class="github_login" hidden>guozhangwang<br></div>
          Committer, and PMC member<br>
          <a href="http://www.linkedin.com/in/guozhangwang">/in/guozhang</a><br>
          <a href="https://twitter.com/guozhangwang">@guozhangwang</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/gwenshap.jpg" width="150">
        </td>
        <td>
          Gwen Shapira<br>
          <div class="github_login" hidden>gwenshap<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/gwenshapira">/in/gwenshapira</a><br>
          <a href="https://twitter.com/gwenshap">@gwenshap</a></br>
        </td>
        <td>
          <img src="images/harsha.jpg" width="150">
        </td>
        <td>
          Sriharsha Chintalapani<br>
          <div class="github_login" hidden>harshach<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/sriharsha">/in/sriharsha</a><br>
          <a href="https://twitter.com/d3fmacro">@d3fmacro</a></br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/ewencp.jpg" width="150">
        </td>
        <td>
          Ewen Cheslack-Postava<br>
          <div class="github_login" hidden>ewencp<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/ewencp">/in/ewencp</a><br>
          <a href="https://twitter.com/ewencp">@ewencp</a></br>
        </td>
        <td>
          <img src="images/ijuma.jpg" width="150">
        </td>
        <td>
          Ismael Juma<br>
          <div class="github_login" hidden>ijuma<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/ijuma">/in/ijuma</a><br>
          <a href="https://twitter.com/ijuma">@ijuma</a></br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/jason.jpg" width="150">
        </td>
        <td>
          Jason Gustafson<br>
          <div class="github_login" hidden>hachikuji<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/jasongustafson">/in/jasongustafson</a><br>
        </td>
        <td>
          <img src="images/jiangjie.jpg" width="150">
        </td>
        <td>
          Jiangjie (Becket) Qin<br>
          <div class="github_login" hidden>becketqin<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/jiangjieqin">/in/jiangjieqin</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/granthenke.jpg" width="150">
        </td>
        <td>
          Grant Henke<br>
          <div class="github_login" hidden>granthenke<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/granthenke">/in/granthenke</a><br>
          <a href="https://twitter.com/gchenke">@gchenke</a></br>
        </td>
        <td>
          <img src="images/rsivaram.jpg" width="150">
        </td>
        <td>
          Rajini Sivaram<br>
          <div class="github_login" hidden>rajinisivaram<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/rajini-sivaram">/in/rajini-sivaram</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/damianguy.jpg" width="150">
        </td>
        <td>
          Damian Guy<br>
          <div class="github_login" hidden>dguy<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/damianguy">/in/damianguy</a><br>
          <a href="https://twitter.com/damianguy">@damianguy</a></br>
        </td>
        <td>
          <img src="images/onur.jpg" width="150">
        </td>
        <td>
          Onur Karaman<br>
          <div class="github_login" hidden>onurkaraman<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/onurkaraman">/in/onurkaraman</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/matthias.jpg" width="150">
        </td>
        <td>
          Matthias J. Sax<br>
          <div class="github_login" hidden>mjsax<br></div>
    	  Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/mjsax">/in/mjsax</a><br>
          <a href="https://twitter.com/MatthiasJSax">@MatthiasJSax</a></br>
        </td>
        <td>
          <img src="images/lindong.jpg" width="150">
        </td>
        <td>
          Dong Lin<br>
          <div class="github_login" hidden>lindong28<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/lindong28">/in/lindong28</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/cmccabe.jpg" width="150">
        </td>
        <td>
          Colin P. McCabe<br>
          <div class="github_login" hidden>cmccabe<br></div>
          Committer, and PMC member<br>
          <a href="http://www.linkedin.com/in/mccabecolin">/in/mccabecolin</a><br>
          <a href="http://www.club.cc.cmu.edu/~cmccabe/">cmccabe</a>
        </td>
        <td>
          <img src="images/manikumar.jpg" width="150">
        </td>
        <td>
          Manikumar Reddy<br>
          <div class="github_login" hidden>omkreddy<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/15mani">/in/15mani</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/vahid.jpg" width="150">
        </td>
        <td>
          Vahid Hashemian<br>
          <div class="github_login" hidden>vahidhashemian<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/vhashemian">/in/vhashemian</a><br>
          <a href="https://twitter.com/vahidh">@vahidh</a></br>
        </td>
        <td>
          <img src="images/bbejeck_pic.jpeg" width="150">
        </td>
        <td>
          Bill Bejeck<br>
          <div class="github_login" hidden>bbejeck<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/bbejeck/">/in/bbejeck</a><br>
          <a href="https://twitter.com/bbejeck">@bbejeck</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/rhauch.jpg" width="150">
        </td>
        <td>
          Randall Hauch<br>
          <div class="github_login" hidden>rhauch<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/randallhauch/">/in/randallhauch</a><br>
          <a href="https://twitter.com/rhauch">@rhauch</a>
        </td>
        <td>
          <img src="images/mickael.jpg" width="150">
        </td>
        <td>
          Mickael Maison<br>
          <div class="github_login" hidden>mimaison<br></div>
          Committer, and PMC member, and VP of Kafka<br>
          <a href="https://www.linkedin.com/in/mickaelmaison/">/in/mickaelmaison</a><br>
          <a href="https://twitter.com/MickaelMaison">@MickaelMaison</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/jroesler.jpg" width="150">
        </td>
        <td>
          John Roesler<br>
          <div class="github_login" hidden>vvcephei<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/john-roesler-6280755/">/in/john-roesler-6280755</a><br>
        </td>
        <td>
          <img src="images/konstantine.jpg" width="150">
        </td>
        <td>
          Konstantine Karantasis<br>
          <div class="github_login" hidden>kkonstantine<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/karantasis/">/in/karantasis</a><br>
          <a href="https://twitter.com/karantasis">@karantasis</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/boyang.png" width="150">
        </td>
        <td>
          Boyang Chen<br>
          <div class="github_login" hidden>abbccdda<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/boyangc/">/in/boyangc</a><br>
        </td>
        <td>
          <img src="images/huxihx.jpg" width="150">
        </td>
        <td>
          Xi Hu<br>
          <div class="github_login" hidden>huxihx<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/xi-hu-892b5b84/">/in/xi-hu-892b5b84</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/dajac.png" width="150">
        </td>
        <td>
          David Jacot<br>
          <div class="github_login" hidden>dajac<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/davidjacot/">/in/davidjacot</a><br>
          <a href="https://twitter.com/davidjacot">@davidjacot</a>
        </td>
        <td>
          <img src="images/chia7712.png" width="150">
        </td>
        <td>
          Chia-Ping Tsai<br>
          <div class="github_login" hidden>chia7712<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/chia7712/">/in/chia7712</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/ableegoldman.jpg" width="150">
        </td>
        <td>
          Anna Sophie Blee-Goldman<br>
          <div class="github_login" hidden>ableegoldman<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/ableegoldman/">/in/ableegoldman</a><br>
        </td>
        <td>
          <img src="images/tombentley.jpg" width="150">
        </td>
        <td>
          Tom Bentley<br>
          <div class="github_login" hidden>tombentley<br></div>
          Committer, and PMC member<br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/Bruno.jpg" width="150">
        </td>
        <td>
          Bruno Cadonna<br>
          <div class="github_login" hidden>cadonna<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/brunocadonna">/in/brunocadonna</a><br>
        </td>
        <td>
          <img src="images/lukechen.jpg" width="150">
        </td>
        <td>
          Luke Chen<br>
          <div class="github_login" hidden>showuon<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/showuon/">/in/showuon</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/jsancio.jpg" width="150">
        </td>
        <td>
          José Armando García Sancio<br>
          <div class="github_login" hidden>jsancio<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/jsancio/">/in/jsancio</a><br>
          <a href="https://github.com/jsancio/">github.com/jsancio</a><br>
        </td>
        <td>
          <img src="images/chrisegerton.jpg" width="150">
        </td>
        <td>
          Chris Egerton<br>
          <div class="github_login" hidden>C0urante<br></div>
          Committer, and PMC member<br>
          <a href="https://twitter.com/C0urante">@C0urante</a><br>
          <a href="https://github.com/C0urante/">github.com/C0urante</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/dengziming.jpg" width="150">
        </td>
        <td>
          Ziming Deng<br>
          <div class="github_login" hidden>dengziming<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/ziming-deng-845a82129/">/in/ziming-deng-845a82129</a><br>
        </td>
        <td>
          <img src="images/viktorsomogyi.jpg" width="150">
        </td>
        <td>
          Viktor Somogyi-Vass<br>
          <div class="github_login" hidden>viktorsomogyi<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/viktor-somogyi/">/in/viktor-somogyi</a><br>
          <a href="https://github.com/viktorsomogyi/">github.com/viktorsomogyi</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/jlprat.jpg" width="150">
        </td>
        <td>
          Josep Prat<br>
          <div class="github_login" hidden>jlprat<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/jlprat/">/in/jlprat</a><br>
          <a href="https://twitter.com/jlprat/">@jlprat</a><br>
        </td>
        <td>
          <img src="images/satishd.jpg" width="150">
        </td>
        <td>
          Satish Duggana<br>
          <div class="github_login" hidden>satishd<br></div>
          Committer, and PMC member<br>
          <a href="https://www.linkedin.com/in/0xeed/">/in/0xeed</a><br>
          <a href="http://twitter.com/0xeed">@0xeed</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/rondagostino.jpg" width="150">
        </td>
        <td>
          Ron Dagostino<br>
          <div class="github_login" hidden>rondagostino<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/ron-dagostino-b61b526/">/in/ron-dagostino-b61b526</a><br>
          <a href="https://github.com/rondagostino/">github.com/rondagostino</a><br>
        </td>
        <td>
          <img src="images/jolshan.jpeg" width="150">
        </td>
        <td>
          Justine Olshan<br>
          <div class="github_login" hidden>jolshan<br></div>
          Committer, and PMC member<br>
          <a href="https://github.com/jolshan/">github.com/jolshan</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/edocomar.jpg" width="150">
        </td>
        <td>
          Edoardo Comar<br>
          <div class="github_login" hidden>edoardocomar<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/edoardo-comar/">/in/edoardo-comar</a><br>
          <a href="https://github.com/edoardocomar/">github.com/edoardocomar</a><br>
        </td>
        <td>
          <img src="images/wcarlson.jpg" width="150">
        </td>
        <td>
          Walker Carlson<br>
          <div class="github_login" hidden>wcarlson5<br></div>
          Committer<br>
          <a href="https://github.com/wcarlson5">github.com/wcarlson</a><br>
          <a href="https://www.linkedin.com/in/%F0%9F%8D%AA-walker-c-2523a2107/">in/wcarlson</a><br>

        </td>
      </tr>
      <tr>
        <td>
          <img src="images/skozlovski.jpeg" width="150">
        </td>
        <td>
          Stanislav Kozlovski<br>
          <div class="github_login" hidden>stanislavkozlovski<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/stanislavkozlovski/">/in/stanislav-kozlovski</a><br>
          <a href="https://github.com/stanislavkozlovski/">github.com/stanislavkozlovski</a><br>
          <a href="https://twitter.com/BdKozlovski">@BdKozlovski</a><br>
        </td>
        <td>
          <img src="images/divijvaidya.jpg" width="150">
        </td>
        <td>
          Divij Vaidya<br>
          <div class="github_login" hidden>divijvaidya<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/divijvaidya/">/in/divijvaidya</a><br>
          <a href="https://github.com/divijvaidya/">github.com/divijvaidya</a><br>
          <a href="https://twitter.com/divijvaidya">@divijvaidya</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/gharris.jpg" width="150">
        </td>
        <td>
          Greg Harris<br>
          <div class="github_login" hidden>gharris1727<br></div>
          Committer<br>
          <a href="https://github.com/gharris1727/">github.com/gharris1727</a><br>
          <a href="https://twitter.com/gharris1727">@gharris1727</a><br>
        </td>
        <td>
          <img src="images/lbradstreet.jpg" width="150">
        </td>
        <td>
          Lucas Bradstreet<br>
          <div class="github_login" hidden>lbradstreet<br></div>
          Committer<br>
          <a href="https://github.com/lbradstreet/">github.com/lbradstreet</a><br>
          <a href="https://hachyderm.io/@ghaz">@ghaz@hachyderm.io</a><br>
        </td>
      </tr>
      <tr>
        <td>
          <img src="images/yashmayya.jpg" width="150">
        </td>
        <td>
          Yash Mayya<br>
          <div class="github_login" hidden>yashmayya<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/yashmayya/">/in/yashmayya</a><br>
          <a href="https://github.com/yashmayya">github.com/yashmayya</a><br>
        </td>
        <td>
          <img src="images/lucasbru.jpg" width="150">
        </td>
        <td>
          Lucas Brutschy<br>
          <div class="github_login" hidden>lucasbru<br></div>
          Committer<br>
          <a href="https://www.linkedin.com/in/lbrutschy/">/in/lbrutschy</a><br>
          <a href="https://github.com/lucasbru">github.com/lucasbru</a><br>
        </td>
      </tr>
    </table>

  <script>
    // Show selected style on nav item
    $(function() { $('.b-nav__project').addClass('selected'); });
  </script>

<!--#include virtual="includes/_footer.htm" -->
